<!DOCTYPE html>
<html>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
 <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Online Exam Schedule System</b></h1>
  <p>Welcome to our project <span class="w3-tag"></span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://cache.careers360.mobi/media/presets/860X430/article_images/2020/10/9/KCET-Exam-Centres-20211.webp" alt="Nature" style="width:100%">
    <div class="w3-container">
     <center> <h1> Online Exam Schedule System</h1>
		<h3><a th:href="@{/user}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">List of Users</button></a></h3>
		<h3><a th:href="@{/register}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Register</button></a></h3>
		<h3><a th:href="@{/login}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Login</button></a></h3></center>
    </div>

    <div class="w3-container">
     
      <div class="w3-row">
        <div class="w3-col m8 s12">
        
        </div>
        <div class="w3-col m4 w3-hide-small">
        
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7JwQeBy_BTU7T8Zpn2pxt_gY5F7emwbnePg&usqp=CAU" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Introduction</b></h4>
      <p>Based on the exam center and schedule,online marks and scores of different subject will be calculated.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="https://www.getsupport.co.uk/img/blog/140/microsoft-forms.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><a href="java1">Java</a></span><br>
     
      </li>
      <li class="w3-padding-16">
        <img src="https://docs.microsoft.com/en-us/microsoft-365/education/deploy/images/manage-forms-1.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><a href="SQL">Sql</span><br></a>
      
      </li> 
      <li class="w3-padding-16">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTsCtMIGYRfSsznTltz83ERD8kvbFV0qOAUQ&usqp=CAU" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><a href="springboot1">SpringBoot</span><br></a>
     
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_2HG_FQlXzBbpy3VwMAHjBmslF2tW-9yKvg&usqp=CAU" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><a href="BootStrap">Bootstrap</span><br></a>
      
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Ruby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Java</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">PhP</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Springboot</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Bootstrap</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"></span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">C#</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">C++</span> 
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Pyhton</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">C</span> 
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">R</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Julia</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top white-section" id="footer">
    <div class="container-fluid">
    <center>
    <a href="https://www.facebook.com/">  <i class="social-icon fab fa-facebook-f"></i></a>
    <a href="https://www.twitter.com/">  <i class="social-icon fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/">  <i class="social-icon fab fa-instagram"></i></a>
    <a href="https://www.gmail.com/">  <i class="social-icon fas fa-envelope"></i></a>
      <p>© Copyright 2021 @Exam Center</p></center>
    </div>
  </footer>

</footer>

</body>
</html>
